.add-task {
  margin: 8rem auto;
  padding: 1.5rem 2.5rem;
  width: 90%;
  max-width: 60rem;
}

.add-task input {
  font-size: 1.6rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 0.3rem solid #ccc;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
}

.add-task input:focus {
  outline: none;
  border-color: #ff503f;
}
