.login {
  margin: 8rem auto;
  padding: 1.5rem 2.5rem;
  width: 90%;
  max-width: 60rem;
}

.login label {
  font-size: 1.8rem;
  font-weight: 700;
  display: block;
  margin-bottom: 1rem;
}

.login input {
  font-size: 1.4rem;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
}

.login input:focus {
  outline: none;
  border-color: #ff503f;
}

.login-btn {
  display: inline-block;
}
