@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: #fafaf9;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #1c1d1c;
}
