.button {
  cursor: pointer;
  background-color: #ff503f;
  color: #fafaf9;
  padding: 0.8rem 2.8rem;
  font-size: 1.7rem;
  border-radius: 1rem;
  display: inline-block;
  transition: all 0.2s ease;
  border: none;
}

.button:hover,
.button:active {
  background: #ff4838;
  border-color: #ff4838;
}

.button:focus {
  outline: none;
}
